<% include _header %>

<h1><a href="/home">back to dashboard</a></h1>

<h2>Profile</h2>

<% if (user) { %>

<h4>User Name: <%= user.username %></h4>
<h4>Concordia ID: <%= user.concordiaID %></h4>
<h4>Email: <%= user.email %></h4>
<h4>Major in: <%= user.major %></h4>
<h4>Role: <%= user.role %></h4>
<h4>Created at: <%= user.createdAt %></h4>

<% } %>

<% include _footer %>